.new-note-form {
    width: 30%;
    margin-left: 20px;
}

.AddNote h2 {
    margin-left: 50px;
}

.note-form-input {
    margin-bottom: 20px;
}

#note-content {
    height: 10vh;
}

.error-handler {
    color: red;
}